# Node
node_modules/*
npm-debug.log
# DO NOT IGNORE TYPESCRIPT FILES FOR NPM
# TypeScript
# *.js
# *.map
# *.d.ts

# Library files
src/*
test/*
dist/**/*.spec.js
.prettierrc
package-lock.json
package
tsconfig.app.json
tsconfig.json
tslint.json

